.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid #110f0f;
}

.logo-container img {
  width: 75px !important;
}

.filter {
  cursor: pointer;
  padding: 10px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  font-size: 18px;
}
.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}
.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  background-color: #f0f0f0;
  padding: 5px;
  margin: 1px;
}

.res-card:hover {
  cursor: pointer;
  border: 1px solid #110f0f;
}

.res-card h4 {
  white-space: normal; /* Allows wrapping to next line */
  word-break: break-word; /* Break long words when necessary */
  overflow-wrap: break-word;
}

.search {
  padding: 10px;
}
.res-logo {
  width: 100%;
}
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.shimmer-card {
  width: 150px;
  height: 200px;
  padding: 5px;
  margin: 1px;
  background-color: lightgray;
}

.login-btn {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin: 5px;
}

.filter {
  display: flex;
  gap: 10px;
}

.search-container {
  gap: 10px;
}
